/Inlog.GerenciamentoFrota.Test/bin
/Inlog.GerenciamentoFrota.Test/obj
/Inlog.GerenciamentoFrota.Api/obj
/Inlog.GerenciamentoFrota.Api/bin
/Inlog.GerenciamentoFrota.Data/obj
/Inlog.GerenciamentoFrota.Data/bin
/Inlog.GerenciamentoFrota.Domain/obj
/Inlog.GerenciamentoFrota.Domain/bin
